@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply box-border font-body m-0 p-0;
  }
  body {
    @apply p-0 m-0;
    @apply overflow-x-hidden;
  }
}

:root {
  --color-background: #e5e4e2;
  --color-foreground: #2a3439;
  --color-black: #2a3439;
  --color-primary: #c0c0c0;
  --color-detail: #d1d1d1;
  --color-accent: #007fff;
  --color-accent-active: #0861c5;
  --font-exo2: 'Exo 2', sans-serif;
  --font-open-sans: 'Open Sans', sans-serif;
  --color-highlight: #7097a0;
  --color-destructive: #ff7043;

  --radial-gradient-light: radial-gradient(
    circle at 50% center,
    var(--color-background),
    var(--color-accent) 50%,
    var(--color-background) 75%,
    var(--color-background) 75%
  );

  --radial-gradient-dark: radial-gradient(
    circle at 50% center,
    var(--color-background),
    var(--color-accent-active) 50%,
    var(--color-background) 75%,
    var(--color-background) 75%
  );
}

.dark {
  --color-background: #1c2022;
  --color-foreground: #e6e6e8;
  --color-icon: #cbd5e1;
  --color-primary: #50555c;
  --color-detail: #20262a;

  --radial-gradient-light: radial-gradient(
    circle at 50% center,
    var(--color-background),
    var(--color-accent) 50%,
    var(--color-background) 75%,
    var(--color-background) 75%
  );

  --radial-gradient-dark: radial-gradient(
    circle at 50% center,
    var(--color-background),
    var(--color-accent-active) 50%,
    var(--color-background) 75%,
    var(--color-background) 75%
  );
}
